langchain
openai
huggingface-hub
ipykernel
fastapi
uvicorn
docarray
transformers
tiktoken
pydantic
langchainhub
langgraph
matplotlib
langchain_experimental
langchain-openai
langchain_community
unstructured
pdf2image
pdfminer.six
opencv-python
duckduckgo-search
moviepy
chromadb